<?xml version="1.0" encoding="UTF-8"?>

<plugin xmlns="http://www.phonegap.com/ns/plugins/1.0"
xmlns:android="http://schemas.android.com/apk/res/android"
id="org.apache.cordova.core.AccelListener"
    version="0.1.0">
	
	<name>Device Motion</name>

	<!-- android -->
	<platform name="android">
	    
		<config-file target="res/xml/config.xml" parent="plugins">
			<plugin name="Accelerometer" value="org.apache.cordova.core.AccelListener"/>
		</config-file>

		<source-file src="src/android/AccelListener.java" target-dir="src/org/apache/cordova/core" />
       </platform>
    
    <!-- ios -->
    <platform name="ios">
        
        <config-file target="config.xml" parent="plugins">
            <plugin name="Accelerometer" value="CDVAccelerometer"/>
        </config-file>
        
	<header-file src="src/ios/CDVAccelerometer.h" />
	<source-file src="src/ios/CDVAccelerometer.m" />
        
    </platform>
    
</plugin>
