<?xml version="1.0" encoding="UTF-8" standalone="yes"?>
<plugin xmlns="http://apache.org/cordova/ns/plugins/1.0" id="cordova-plugin-device-motion-tests" version="1.2.4">
  <name>Cordova Device Motion Plugin Tests</name>
  <license>Apache 2.0</license>
  <js-module src="tests.js" name="tests"/>
</plugin>
